<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>The Chaupal Organisation</title>

    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="../stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="../stylesheets/codeblock.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 id="chaupal.header"></h1>
      </header>
      <section>
        <div id="chaupal.body"></div>
        <h3>Licensing...</h3>
        <p>JXTA is a registered trademark of Sun Microsystems/Oracle.</p>

        <p><a href="https://github.com/chaupal/jxse">JXSE</a> is still governed by
        <a href="jxta-license.txt">the JXTA license</a>,
           which cannot be changed. New code by Chaupal that extends/modifies JXSE is
           governed by the Apache License, version 2.0, and must be committed to the 
        <a href="https://github.com/chaupal/jp2p">JP2P</a> GitHub repository.</p>
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>  
  </body>
</html>